@use "global" as *;

.p-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: rem(50);
  background-color: rgba($color: $black, $alpha: 0.5);
  z-index: 9999;
  transition: background-color 0.3s;
}

.p-header--color {
  background-color: $black;
  transition: background-color 0.3s;
}

.p-header__inner {
  display: flex;
  align-items: center;
  padding: 0 rem(22);
  height: inherit;
  @include mq(md) {
    padding-left: rem(32);
    padding-right: 0;
  }
}

.p-header__logo {
  height: inherit;
  width: rem(70);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9999;
}

.p-header__logo img {
  display: block;
  width: 100%;
}