@use "global" as *;

.p-news__inner {
  padding: 0 rem(20);
  @include mq(md) {
    position: relative;
    max-width: 1042px + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    margin: auto;
  }
}

.p-news__contents {
  @include mq(md) {
    display: flex;
    transition: all 0.3s;
    // flex-direction: column;
    // justify-content: center;
  }
}

.p-news__contents:hover .p-news__text {
  @include mq(md){
    color: $yellow;
    transition: hover 0.3s;
  }
}
.p-news__contents--center {
  max-width: rem(600);
  width: 100%;
  margin: auto;
  @include mq(md) {
    justify-content: center;
    max-width: initial;
  }
}

.p-news__contents--center + .p-news__contents--center {
  @include mq(md){
    margin-top: rem(32);
  }
}

.p-news__content + .p-news__content {
  margin-top: rem(24);
  @include mq(md) {
  }
}

.p-news__content {
  display: flex;
  @include mq(md){
    align-items: center;
  }
}

.p-news__date {
  padding: rem(5) 0 rem(5);
}

.p-news__label {
  margin-left: rem(32);
  margin-top: rem(3);
  border: 1px solid $white;
  padding: rem(3) rem(21) rem(3) rem(21);
  font-size: rem(14);
  @include mq(md){
    margin-left: rem(47);
  }
}

.p-news__text {
  margin-top: rem(16);
  display: block;
  @include mq(md) {
    padding: rem(6) 0 rem(5);
    margin-top: 0;
    margin-left: rem(61);
    max-width: 55.662%;
    width: 100%;
  }
}

.p-news__button {
  margin-top: rem(26);
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(48);
    position: absolute;
    bottom: rem(-5);
    right: rem(25);
    letter-spacing: 0.002em;
  }
}

.p-news__button a {
  background-color: $gray;
  font-size: rem(20);
  padding: rem(9) rem(10) rem(9);
  width: 100%;
  display: inline-block;
  text-align: center;
  border: 1px solid $white;
  @include mq(md) {
    padding: rem(3) rem(26) rem(4) rem(26);
    font-size: rem(16);
    background-color: #fff;
    color: #000;
  }
}