@use "global" as *;

.p-explain__block {
  display: flex;
  // align-items: center;
  padding: rem(24) 0 rem(21);
  // border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: rem(13);
  letter-spacing: 0.04em;
}

.p-explain__block:not(:first-child) {
  // border-top: none;
  // border-bottom: none; 
}

.p-explain__header {
  width: rem(57);//一番長い要素に合わせる
  @include mq(md){
    width: rem(65);
  }
}

.p-explain__description {
  max-width: rem(221);//インナー幅 - 一番長い要素
  width: 100%;
  margin-left: rem(55);
  line-height: 1.84615385;
  @include mq(md){
    max-width: initial;
    margin-left: rem(88);
  }
}