@use "global" as *;

.p-tab-wrapper__items {
  display: flex;
  max-width: rem(600);
  width: 100%;
  margin-top: rem(85);
  margin-left: auto;
  margin-right: auto;
  @include mq(md){
    margin-top: rem(115);
    max-width: initial;
  }
}



.p-tab-wrapper__item.current {
  padding: rem(3) rem(8) rem(4);
  background-color: #fff;
  color: #333;
}

.p-tab-wrapper__item {
  padding: rem(3) rem(8) rem(4);
}

.p-tab-wrapper__item:nth-child(n + 2) {
  margin-left: rem(6);
}

.p-tab-wrapper__cards {
  margin-top: rem(40);
}